.mynavbar {
   background-color: rgba(255, 255, 255, 0.3) !important;
   /* style ini tidak berfungsi !important : menyuruh agar stlye ini yang di gunakan*/
   backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
   /* karena style backdrop diatas fitur offcanvas jadi rusak , untuk karna itu ditegaskan dan dikembalikan tingginya*/
   height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
   font-family: 'Sacramento', cursive;
   font-size: 2.2rem;
   font-weight: bold;
}

.mynavbar .nav-link {
   text-transform: uppercase;
   font-weight: 200;
}
