html,
body {
  font-size: 16px;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

#navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-image {
  background-image: url("../img/img1.JPG");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.lingkaran{
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: #ffff;
}

.lingkaran img{
  position: relative;
  top: 11px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
}

.bg-color-maps {
  background-color: #f1ebe4;
}

.bg-color-us {
  background-color: #a7988b;
}

.crop-img {
  object-fit: cover;
}

.wrapper-icon img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.bg-color-footer {
  background-color: #6e0d25;
  color: #ffff;
}

.wrapper-last-footer {
  padding: 1rem 0;
  border-top: 2px solid #c4d3d6;
}

/* HP */
@media only screen and (max-width: 767px) {
  nav img {
    width: 8rem;
  }
  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  .p-aboutUs p {
    font-size: 0.9rem;
  }
  .p-product p {
    font-size: 0.9rem;
  }
  .p-maps {
    font-size: 0.9rem;
  }
  .size-card {
    display: flex;
    justify-content: center;
    width: 20rem;
  }
}

/* Tab */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav img {
    width: 10rem;
  }
  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.2rem;
  }
  .p-home {
    font-size: 1rem;
  }

  .p-maps {
    font-size: 0.9rem;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  .bungkusan-h4-p {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
