#navbar {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
}

#navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-image {
  background-image: url("../img/img1.JPG");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.bg-color-maps {
  background-color: #f1ebe4;
}

.bg-color-us {
  background-color: #a7988b;
}

.crop-img {
  object-fit: cover;
}

.wrapper-col-2 a {
  display: flex;
  flex-diretion: column;
}

.wrapper-icon img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.bg-color-footer {
  background-color: #6e0d25;
  color: #ffff;
}

.wrapper-last-footer {
  padding: 1rem 0;
  border-top: 2px solid #c4d3d6;
}

@media (max-width: 768px) {
  .mobile-respon {
    max-width: 90px;
  }
}
