html, body{
  font-size: 16px;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

#navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-image {
  background-image: url("../img/img1.JPG");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}

/* HP */
@media only screen and (max-width: 767px) {
  nav img {
    width: 8rem;
  }
  h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.9rem;
  }
  p {
    font-size: 0.8rem;
  }
}

/* Tab */
@media only screen and (min-width: 768px) and (max-width: 1023px){
  nav img {
    width: 10rem;
  }
  h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.2rem;
  }
  p {
    font-size: 1rem;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  .bungkusan-h4-p{
    padding-left: 10rem;
    padding-right: 10rem;
  }
}