html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

/* ?-----------------------Scrolled background---------------------- */
#navbar {
  background-color: rgba(251, 251, 251, 0.1);
  transition: background-color 0.5s;
  color: white !important;
}

#navbar.scrolled {
  background-color: rgba(230, 231, 230, 1);
  color: black !important;
}
/* ?----------------------End Scrolled background---------------------- */
/* *-----------------------Scrolled text-color---------------------- */
.navbar-brand,
.nav-link {
  font-weight: 700;
  font-size: 14px;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#navbar.scrolled .navbar-brand,
#navbar.scrolled .nav-link {
  font-size: 14px;
  color: black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* *--------------------End Scrolled text-color---------------------- */

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ffff;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

#navbar.scrolled .nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #93866a;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}


.bg-image {
  background-image: url("../img/cover.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.logo-img img {
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 30%));
  width: 120px;
  height: 120px;
}

.bg-color-product {
  background-color: #efefef;
  /* background-position: center center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.bg-color-maps {
  background-color: #ffffff;
}

.isi-aboutUs {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-profile {
  height: 600px;
  width: 500px;
  object-fit: cover;
  padding-right: 0;
}

.card-title {
  font-weight: bold;
  font-size: 25px;
}

.card-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-radius: 14px;
  transition: all ease-in-out 0.3s;
}
.card-choose:hover {
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body-choose {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

/* ----------------------------------------------------- */

.container-widget {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100px;
}

hr.solid {
  border-top: 3px solid #6e0d25;
}

.border-maps {
  box-shadow: rgb(192, 184, 167, 0.6) 0px 30px 90px;
}

.container-footer h1 {
  font-weight: bold;
}

.wrapper-icon img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.bg-color-footer {
  border-radius: 100px 0 0 0;
  background-color: #6e0d25;
  color: #ffff;
}

.wrapper-last-footer {
  padding: 1rem 0;
  border-top: 2px solid #c4d3d6;
}

/* HP */
@media only screen and (max-width: 767px) {
  nav img {
    width: 8rem;
  }
  .nav-link:hover::after {
    width: 5%;
  }
  
  #navbar.scrolled .nav-link:hover::after {
    width: 5%;
  }
  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  .isi-aboutUs {
    padding-left: 1rem;
    text-align: center;
  }
  .p-aboutUs p {
    font-size: 0.9rem;
  }
  .img-profile {
    height: 21rem;
    width: 34rem;
    object-fit: contain;
  }
  .p-product p {
    font-size: 0.9rem;
  }
  .p-maps {
    font-size: 0.9rem;
  }
  .size-card {
    display: flex;
    justify-content: center;
    width: 20rem;
  }
  .card-choose {
    margin-bottom: 1rem;
  }
  .card-title {
    font-weight: bold;
    font-size: 2rem;
  }
  .card-text {
    font-size: 14px;
  }
  .bg-color-footer {
    border-radius: 2rem 0 0 0;
    background-color: #6e0d25;
    color: #ffff;
  }
}

/* Tab */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav img {
    width: 10rem;
  }
  .nav-link:hover::after {
    width: 5%;
  }
  
  #navbar.scrolled .nav-link:hover::after {
    width: 5%;
  }
  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.2rem;
  }

  .isi-aboutUs {
    padding-left: 1rem;
  }

  .card-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .card-body-choose {
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
  }

  .card-text {
    font-size: 14px;
  }

  .p-home {
    font-size: 1rem;
  }

  .p-maps {
    font-size: 0.9rem;
  }
  .container-footer h1 {
    font-size: 1.9rem;
    font-weight: bold;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  .bungkusan-h4-p {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
